---
interface Props extends astroHTML.JSX.HTMLAttributes {
    type?: "submit" | "reset" | "button";
}

const { type = "button", class: className, ...props } = Astro.props;
---

<button 
    type={type}
    class:list={[
        "ui-btn-base ui-btn-primary [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0",
        className
    ]}
    {...props}
    >
    <slot />
</button>
