---
interface Props {
    href: string;
    class?: string;
}

const { href, class: className } = Astro.props;
---

<a href={href} class:list={["ui-link-inline duration-150", className]}>
    <slot />
</a>
