---
interface Props {
    href: string;
    class?: string;
}

const { href, class: className } = Astro.props;
---

<a href={href} class:list={["text-zinc-900 underline-offset-4 hover:underline dark:text-zinc-50 duration-200", className]}>
    <slot />
</a>