---
import { getLangFromUrl } from "@/config/i18n/utils";
import { useTranslations } from "@/config/i18n/utils";
import { paths } from "@/config/paths";
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from "@vercel/speed-insights/astro"
import LanguageSwitcher from "../cross/LanguageSwitcher.astro";
import HeaderLink from "./HeaderLink.astro";
import ThemeSwitcher from "../cross/ThemeSwitcher.astro";
import NavMobile from "./NavMobile.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, "home");
---

<header class="w-full">
	<nav class="container mx-auto mb-2 md:mb-5 pt-5 px-7 md:px-10 flex items-center justify-between">
		<HeaderLink class="cursor-pointer" href={paths.home(lang)} >
			<h1 class="font-semibold text-base md:text-3xl dark:text-white">
				<span class="text-yellow-700 dark:invert">{"</>"}</span>
				albertonet
			</h1>
		</HeaderLink>
		<div
			id="navbar-default"
			class="hidden lg:flex items-center justify-center gap-4"
		>
			<HeaderLink
				class="hover:text-blue-800 dark:hover:text-blue-400 duration-150"
				href={paths.blog(lang)}
			>
				{t("blogLink")}
			</HeaderLink>
			<HeaderLink
				class="hover:text-blue-800 dark:hover:text-blue-400 duration-150"
				href={paths.contact(lang)}
			>
				{t("contactLink")}
			</HeaderLink>
			<LanguageSwitcher />
			<ThemeSwitcher />
		</div>
		<NavMobile />
	</nav>
	<Analytics />
	<SpeedInsights />
</header>
