---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0] || ""}`;
---

<a
    href={href}
    class:list={[
        "adaptive-text transition-colors duration-150 underline-offset-4 hover:underline",
        className,
        { active: isActive },
    ]}
    {...props}
>
	<slot />
</a>
