---
import { getLangFromUrl, useTranslations } from "@/config/i18n/utils";
import { paths } from "@/config/paths";
import ThemeSwitcher from "@/presentation/components/cross/ThemeSwitcher.astro";
import LanguageSwitcher from "../cross/LanguageSwitcher.astro";
import Link from "../ui/Link.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, "home");
---

<div class="lg:hidden flex items-center gap-0.5 md:gap-1">
    <button onclick="showNav()" class="btn rounded-2xl bg-white text-black dark:bg-zinc-800 dark:text-zinc-100">
        <span id="open" class="icon-[mdi--hamburger-menu] w-4 h-4 transition-all ease-in-out trasition-all"  />
        <span id="close" class="hidden icon-[mdi--cross-circle-outline] w-4 h-4 ease-in-out transition-all text-inherit" />
    </button>
    <LanguageSwitcher />
    <ThemeSwitcher />
    <button
        onclick="showNav()"
        id="navbar-mobile"
        class="hidden absolute z-50 top-0 h-fit border border-zinc-400 rounded-3xl left-0 right-0 mt-16 p-10 flex-col items-start justify-start gap-3 text-2xl bg-zinc-900 dark:bg-zinc-100 cursor-default"
    >
        <Link
            href={paths.blog(lang)}
        >
            <div class="text-white dark:text-black z-50 hover:text-blue-800 dark:hover:text-blue-400 duration-150">{t("blogLink")}</div>
        </Link>
        <Link
            href={paths.contact(lang)}
        >
            <div class="text-white dark:text-black z-50 hover:text-blue-800 dark:hover:text-blue-400 duration-150">{t("contactLink")}</div>
        </Link>
    </button>
</div>

<script is:inline>

function showNav() {
    document.getElementById("navbar-mobile")?.classList.toggle("hidden");
    document.getElementById("navbar-mobile")?.classList.toggle("flex");
    document.getElementById("open")?.classList.toggle("hidden");
    document.getElementById("close")?.classList.toggle("hidden");
}

</script>
