---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<body class="antialiased scroll-smooth bg-zinc-100 dark:bg-zinc-900 min-h-screen flex flex-col">
    <Header />
    <main class="flex-1">
        <slot />
    </main>
    <Footer />
</body>

<script>
const theme = localStorage.getItem("theme");
if (theme && theme === "dark") {
  document.documentElement.classList.add("dark");
}
if (theme && theme === "light") {
  document.documentElement.classList.remove("dark");
}

if (!theme) {
  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
}
</script>