---
import Footer from "../components/nav/Footer.astro";
import Header from "../components/nav/Header.astro";

interface Props {
    class?: string;
}

const { class: classList = "" } = Astro.props;
---

<body class="ui-page-shell antialiased scroll-smooth min-h-screen flex flex-col">
    <Header />
    <main class:list={["flex-1", classList]}>
        <slot />
    </main>
    <Footer />
</body>
