---
import { getLangFromUrl } from "@/config/i18n/utils";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BaseHead from "@/presentation/components/nav/BaseHead.astro";
import Body from "@/presentation/layouts/Body.astro";
import { availableLanguages } from "@/config/i18n/messages";
import SendConfirmation from "@/presentation/components/contact/SendConfirmation.astro";

export const prerender = true;

export async function getStaticPaths() {
	return availableLanguages.map((lang) => ({ params: { lang } }));
}

const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang} class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body class="container mx-auto h-full flex flex-col items-center justify-center gap-5">
		<SendConfirmation />
    </Body>
</html>
