---
import { languages } from "@/config/i18n/messages";
import { getLangFromUrl, transformUrlToLang } from "@/config/i18n/utils";

const currentRoute = Astro.url;
const lang = getLangFromUrl(currentRoute);
---

<div class="dropdown dropdown-hover dropdown-end">
  <button type="button" class="ui-control adaptive-text" aria-label="Language switcher">
    <span class="icon-[mdi--language] w-4 h-4"></span>
  </button>
  <ul class="menu dropdown-content ui-dropdown-panel z-1 w-32 p-2 adaptive-text shadow-none">
      <li><a id="en" class={lang === "en" ? "pointer-events-none text-gray-500" : ""} href={transformUrlToLang(currentRoute, "en")}>{languages.en}</a></li>
      <li><a id="es" class={lang === "es" ? "pointer-events-none text-gray-500" : ""} href={transformUrlToLang(currentRoute, "es")}>{languages.es}</a></li>
  </ul>
</div>

<script>
document.getElementById("en")?.addEventListener("click", () => {
  localStorage.setItem("lang", "en");
})

document.getElementById("es")?.addEventListener("click", () => {
  localStorage.setItem("lang", "es");
})
</script>
