---
import { getCollection } from 'astro:content';
import { getBlogNameFromLang, getLangFromUrl, useTranslations } from '@/config/i18n/utils';
import { paths } from '@/config/paths';
import Link from '../Link.astro';
import TopPostCard from './TopPostCard.astro';

const lang = getLangFromUrl(Astro.url);
const blogName = getBlogNameFromLang(lang)
const allTopPosts = await getCollection(blogName);
const topPosts = allTopPosts.filter(post => post.data.lang === lang);

const t = useTranslations(lang, "home")
---

<section
    id="top-posts-list"
    class="container flex flex-col items-center gap-5 px-8"
>
    <h2 class="text-3xl font-semibold tracking-wide">
        {t("topPosts")}
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5">
        {topPosts.map((topPost) => (
            <TopPostCard topPost={topPost} />
        ))}
    </div>
    <Link href={paths.blog(lang)} class="self-start">
        <div class="flex items-center text-lg gap-1">
            <span class="icon-[mdi--arrow-right-box]"></span>
            <p>{t("seeMore")}</p>
        </div>
    </Link>
</section>