---
import { getLangFromUrl, useTranslations } from "@/config/i18n/utils";
import { GetTopProjects } from "@/core/usecases/GetTopProjects";
import ProjectCard from "../cross/ProjectCard.astro";
import Link from "../ui/Link.astro";
import { GITHUB_ACCOUNT } from "@/consts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, "home");

const projects = await GetTopProjects();
---

<section
    id="top-project-list"
    class="container flex flex-col items-center gap-5 px-8"
>
    <h2 class="text-3xl font-semibold tracking-wide adaptive-text">
        {t("topProjects")}
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5">
        {projects.map((project) => (
            <ProjectCard
                project={project}
            />
        ))}
    </div>
        <Link class="self-start" href={GITHUB_ACCOUNT}>
            <div class="flex items-center text-lg gap-1">
                <span class="icon-[mdi--arrow-right-box]"></span>
                <p>{t("seeMore")}</p>
            </div>
        </Link>
</section>