---
import { getCollection } from "astro:content";
import { availableLanguages } from "@/config/i18n/messages";
import { getBlogNameFromLang, getLangFromUrl } from "@/config/i18n/utils";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import PostCard from "@/presentation/components/cross/PostCard.astro";
import BaseHead from "@/presentation/components/nav/BaseHead.astro";
import Body from "@/presentation/layouts/Body.astro";

export const prerender = true;

export async function getStaticPaths() {
    return availableLanguages.map((lang) => ({ params: { lang } }));
}

const lang = getLangFromUrl(Astro.url);
const blogName = getBlogNameFromLang(lang);
const posts = (await getCollection(blogName)).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body class="container mx-auto h-full flex flex-col items-center md:items-start justify-center md:justify-start gap-5">
		<section class="container flex flex-col md:flex-row items-center md:items-start gap-5 px-8 justify-center md:justify-start">
			{
				posts.map((post) => (
					<div class="w-full max-w-[450px] md:w-[450px] md:h-[480px]">
						<PostCard post={post} showDescription />
					</div>
				))
			}
		</section>
	</Body>
</html>
